*.elf
*.img
src/*.elf
src/*.img
src/*.o
boot/*.o

kernel/*.elf
kernel/*.img
kernel/build/*

bootloader/*.elf
bootloader/*.img
bootloader/src/*.elf
bootloader/src/*.img
bootloader/src/*.o
bootloader/boot/*.o


user/*

peda*
.gdb*

debug
.vscode
